<div class="locations">
    <div class='grid grid--contained'>
        <div class='grid-row'>
            <div class='grid-col--xxs12 grid-col--xs5'>
                <div class="locations-searchForm-errors"></div>
                <form class="locations-searchForm">
                    <input
                        type='text'
                        class='locations-searchForm-search'
                        name='search' 
                        placeholder='Enter Zip Code'
                    />
                    <input
                        type='text'
                        class='locations-searchForm-radius'
                        name='radius' 
                        placeholder='Search Radius in Miles ex: 50'
                    />
                    <input class="locations-search-button button" type='submit' value='Search' />
                </form>
            </div>
        </div>
        <div class='locations-results grid-row'>
            <div class="locations-loading"></div>
        </div>
    </div>
</div>